# ==========================================
# Proyecto Inventarios Inteligente
# Variables de entorno para el Frontend
# ==========================================

# URL de la API Backend
VITE_API_URL=http://localhost:3000/api

# Nombre de la aplicación
VITE_APP_NAME=Proyecto Inventarios Inteligente

# Entorno de ejecución
VITE_ENV=development