html, body, #root {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.login-container {
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    box-sizing:border-box;
    background: linear-gradient(135deg, #7ebe7e 0%, #a9d9a9 50%, #e1f2f2 100%);
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    width: 100%;
    max-width: 440px;
    box-sizing: border-box;
}

.login-card {
    width: 100%;
    background: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
    box-sizing: border-box; 
}


.login-card input,
.login-card div,
.login-card .button-container {
    width: 100% !important;
    max-width: 100%;
    box-sizing: border-box !important;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.password-menssage{
    margin-top: -2rem;
    margin-bottom: 1px;
    margin-left: 10px;
    font-size: 15px;
    color: #666;
}